global:
  smtp_smarthost: '${SMTP_SMARTHOST}'
  smtp_from: '${SMTP_FROM}'
  smtp_auth_username: '${SMTP_AUTH_USERNAME}'
  smtp_auth_password: '${SMTP_AUTH_PASSWORD}'

route:
  receiver: 'gmail'

receivers:
  - name: 'gmail'
    email_configs:
      - to: '${SMTP_TO}'
        send_resolved: true
