/target/
/.idea/
/.vscode/
/keys/
/demo/
/Zpoubelle/
encrypted_data.json

/test_keys/
/test_keys_config/
/test_keys_env/

# Ignorer les fichiers d'environnement
.env

# Ignorer le fichier de configuration local
ironcrypt.toml
Makefile
run.sh